/* .hero_content {
    height: 64vh;
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-parallax {
    z-index: 1;
    height: 64vh;
    width: 100%;
    object-fit: cover;
}

.parallax-content {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
} */

.leader_section {
    
}