.hero_content {
    height: 100vh;
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.parallax-content {
    height: 100vh;
    width: 100%;
}

.react-player {
    z-index: 100;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.react-parallax {
    z-index: 1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: none;
}

.section_title {
    font-family: "Prestige Signature Script";
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: #B88746;
    margin-top: 15vh    
}

.event_container {
    height: 105vh;
    margin-top: 10%;  
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px 0 15px;
}

.event_content {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.event_img {
    object-fit: contain;
    width: 70%;
}

.text_container {
    padding: 0 10px;
}

.connect_container {
    height: 125vh;
}

.connect_image_container {
    display: inline-flex;
    margin: 5%;
}

.connect_image {
    width: 40vh;
    height: 30vh;
    object-fit: cover;
}

@media only screen and (max-width: 878px) {
    .react-player {
        z-index: 1;
        height: 0;
        width: 0;
        object-fit: none;
        display: none;
    }
    .react-parallax {
        z-index: 200;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        display: block;
    }
    video {
        height: 0;
        width: 0;
        object-fit: none;
        display: none;
    }
    .parallax-content {
        z-index: 200;
        height: 100vh;
        width: 100%;
    }
    .connect_container {
        height: 188vh;
    }
    .event_img {
        width: 100%;
    }
  }