.card {
    border: none !important;
}

.card-img, .card-img-bottom, .card-img-top {
    height: 30vh;
    object-fit: cover;
}

.desktop {
    display: block;
}
.mobile {
    display: none;
}

.asset_container {
    width: 50vh;
    height: 50vh;
}

.asset {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.left_asset {
    display: flex;
    justify-content: start;
    margin: 4vh;    
}

.right_asset {
    display: flex;
    justify-content: end;
    margin: 4vh;    
}

.leader_name {
    padding: 0 1rem 0 1rem;    
}

.content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 820px) {
    .left_asset {
        display: none;
    }
    
    .right_asset {
        display: none;
    }
    .mobile {
        display: block;
    }
  }