.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.2s;
}
.bg-nav-active {
    transition: 0.2s;
    /* background: linear-gradient(90deg, rgba(7,44,80,1) 0%, rgba(10,63,113,1) 100%); */
    background: rgba(7,44,80,1);
}
.link-stable {
    color: white !important;
    /* color : #FCB711; */
}
.link-active {
    color: white !important;
}
.dropdown-toggle {
    color: white !important;
}

.dropdown-item {
    color: black !important;
}

.navbar-dark .navbar-brand {
    font-size: 1.5rem;
    color: #B88746;
}